.App {
  display: grid;
  grid-template-columns: 200px auto; /* Sidebar width and main content width */
  grid-template-rows: auto 1fr auto; /* Top nav height, HomePage height, and TopNavBar height */
  height: 100vh;
}

.TopNavBar {
  grid-column: 2; /* Position TopNavBar in the second column, starting after the sidebar */
  grid-row: 3; /* Position TopNavBar in the new third row under the HomePage */
  /* Additional styling for your TopNavBar */
}

.Dashboard {
  grid-row: 1 / -1; /* Span sidebar across all rows */
  /* Additional styling for your sidebar */
}

.HomePage {
  grid-column: 2; /* Position HomePage in the second column */
  grid-row: 2; /* Position HomePage in the second row */
  /* Additional styling for your HomePage */
}